body { 
	background-color: #F0F0F0; 
	color: #000;
	font-family: helvetica, sans-serif;
}


a {
	color: #000;
}

 a:hover {
	color: #b4f70b;
	background-color: #202020;
	text-decoration: none;
 }

.index .postcontent {
	border-bottom: 1px solid #b3b3b3; 
}


H1 {
	font-size: 1.5em;
	font-weight: 800;
}

H1.blogtitle {
	font-size: 3em;	
}

.sudan-col{
	background-color: #fff;
}

.vr-col
	{
	background-color: #d8d8d8;
	height: 1000px;
	
	}
	
.invert {
	color:#fff;
	font-weight: 100;
	
}

.videobox {
	background-color: #202020;
	color: #2e2e2e;
	height: 600px;
	font-size: 13em;
	text-align: center;
}